<md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3" md-gutter="12px" md-row-height="210px">
    <md-grid-tile class="welcome-card md-whiteframe-2dp">
        <div layout="row" layout-align="center center" layout-wrap flex>
            <div layout="column" layout-align="center center" flex="100">
                <span class="circle text-primary" layout="row" layout-align="center center">
                    <i class="material-icons">face</i>
                </span>
                <div class="text-primary">会员[0]</div>
                <p>新增会员/预存款提现</p>
            </div>
            <div layout="row" layout-align="center center" flex="100">
                <md-button flex class="md-accent md-raised">本周新增</md-button>
                <md-button flex>预存款提现</md-button>
            </div>
        </div>
    </md-grid-tile>
    <md-grid-tile class="welcome-card md-whiteframe-2dp">
        <div layout="row" layout-align="center center" layout-wrap flex>
            <div layout="column" layout-align="center center" flex="100">
                <span class="circle text-primary" layout="row" layout-align="center center">
                    <i class="material-icons">face</i>
                </span>
                <div class="text-primary">店铺[0]</div>
                <p>新开店铺审核</p>
            </div>
            <div layout="row" layout-align="center center" flex="100">
                <md-button flex class="md-accent md-raised">开店审核</md-button>
                <md-button flex>已到期</md-button>
                <md-button flex>即将到期</md-button>
            </div>
        </div>
    </md-grid-tile>
    <md-grid-tile class="welcome-card md-whiteframe-2dp">
        <div layout="row" layout-align="center center" layout-wrap flex>
            <div layout="column" layout-align="center center" flex="100">
                <span class="circle text-primary" layout="row" layout-align="center center">
                    <i class="material-icons">face</i>
                </span>
                <div class="text-primary">商品[0]</div>
                <p>新增商品/品牌申请审核</p>
            </div>
            <div layout="row" layout-align="center center" flex="100">
                <md-button flex class="md-accent md-raised">本周新增</md-button>
                <md-button flex>商品审核</md-button>
                <md-button flex>举报</md-button>
                <!--<md-button flex>品牌申请</md-button>-->
            </div>
        </div>
    </md-grid-tile>
    <md-grid-tile class="welcome-card md-whiteframe-2dp">
        <div layout="row" layout-align="center center" layout-wrap flex>
            <div layout="column" layout-align="center center" flex="100">
                <span class="circle text-primary" layout="row" layout-align="center center">
                    <i class="material-icons">face</i>
                </span>
                <div class="text-primary">交易[0]</div>
                <p>交易订单及投诉/举报</p>
            </div>
            <div layout="row" layout-align="center center" flex="100">
                <md-button flex class="md-accent md-raised">退款</md-button>
                <md-button flex>退货</md-button>
                <md-button flex>投诉</md-button>
                <!--<md-button flex>待仲裁</md-button>-->
            </div>
        </div>
    </md-grid-tile>
    <md-grid-tile class="welcome-card md-whiteframe-2dp">
        <div layout="row" layout-align="center center" layout-wrap flex>
            <div layout="column" layout-align="center center" flex="100">
                <span class="circle text-primary" layout="row" layout-align="center center">
                    <i class="material-icons">face</i>
                </span>
                <div class="text-primary">运营[0]</div>
                <p>系统运营类设置及审核</p>
            </div>
            <div layout="row" layout-align="center center" flex="100">
                <md-button flex class="md-accent md-raised">团购</md-button>
                <md-button flex>积分订单</md-button>
                <md-button flex>账单审核</md-button>
                <!--<md-button flex>账单支付</md-button>-->
            </div>
        </div>
    </md-grid-tile>
</md-grid-list>
